
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Doubled width */
  height: 80px; /* Doubled height */
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 35px; /* Adjust the font size as needed */
  border-radius: 50px; /* Increased border radius for more roundness */
  cursor: pointer;
}
.mainButton:hover {
  background-color: #2980b9; /* Adjust the hover background color as needed */
}

.secondary-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Doubled width */
  height: 40px; /* Doubled height */
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-size: 23px; /* Adjust the font size as needed */
  border-radius: 50px; /* Increased border radius for more roundness */
  cursor: pointer;
  margin-right: 10px;
}
.secondary-button:hover {
  background-color: #2980b9; /* Adjust the hover background color as needed */
}
.button-container {
  display: flex;
  justify-content: space-between; /* Adjust as needed */
  margin-top: 5%;
}